@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.cc-body{
    h2 {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 20px;
    }

    h3 {
        margin-top: 5px;
        font-family: "Roboto";
        font-weight: 100;
        font-size: 8px;
    }

    .tab_right {
        width: 100%;
        text-align: left;
        p {
            font-style: italic;
            font-size: 11px;
        }
    }

    label {
        &:nth-of-type(2) .app_inner__tab {
            padding-bottom: 20px;
        }
    }

    #classic-challenge-text {
      font-family: "Roboto";
      font-weight: 100;
      font-size: 10px;
      color: #1D1F1F;
      padding-top: 10px;
    }

    .btn-posterity {
        width: auto;
        display: inline-block;
        padding: 7px 24px;
        padding-right: 35px;
        font-family: 'Roboto',sans-serif;
        font-weight: 900;
        color: $gray;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 2px solid #f6d500;
        background-color: transparent;
        transition-duration: .5s;
        &:hover {
            color: #FFF;
            background: #f6d500;
            padding-right: 24px;
    	}

    }

    .btn-track {
      color: $gray;
      border-color: #f6d500;
      height: 30px;
      width: 80px;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
    	font-size: 9px;
        &:hover {
          background: #f6d500;
          color: white;
        }
        &.pressed {
        background: #f6d500;
        color: white;
        &:hover {
          background: transparent;
          color: #f6d500;
          }
        }
    }
}
