@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.cc-body{
    h2 {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 20px;
    }

    h3 {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 16px;
    }

    .btn-posterity {
        width: auto;
        display: inline-block;
        padding: 7px 24px;
        padding-right: 35px;
        font-family: 'Roboto',sans-serif;
        font-weight: 900;
        color: $gray;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 2px solid #f6d500;
        background-color: transparent;
        transition-duration: .5s;
        &:hover {
            color: #FFF;
            background: #f6d500;
            padding-right: 24px;
    	}

    }
}
