// Specific CSS for your home-page

body {
  margin: 0;
  text-align: center;
}

.HIW {
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.hiw-card {
  padding: 16px;
  margin: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  // background: rgba(255, 255, 255, .5);
  & h5, p {
    margin: 16px auto;
  }
}

.hiw-card img {
  width: 100%;
  height: 100px;
  margin: 16px auto;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
	height: 90vh;
}


// responsive home  <<<<<<<<<<<<<<<<<<

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .navbar-lewagon {
    justify-content: center;
    background: white;
    height: 10vh;
  }

  .banner {
    min-height: 250px;
    padding: 30px;
  }

  .banner h1 {
    display: none;
  }

  .section-1 {
    padding: 0 !important;
    margin: 0;
    height: auto;
  }

  .section-1 h1{
    padding-top: 8px;
    margin: 8px 0 !important;
    font-size: 26px;
  }

  .section-1 a {
    margin: auto !important;
  }

  .HIW {
    flex-direction: column;
    justify-content: center;
  }

  .HIW > a {
    margin: auto !important;
    padding: auto !important;
  }

  .hiw-card {
    margin: 8px;
    height: auto;
    display: flex;
    flex-direction: row;
    & h5, p {
      margin: auto 16px;
      font-size: 12px;
    }
  }
  .hiw-card img {
    height: 60px;
    width: auto;
  }
  #carouselExampleControls {
    display: none;
  }

  .footer {
    margin-top: 16px;
    justify-content: center;
  }
  .footer-copyright {
    display: none;
  }
// responsive Maps/new <<<<<<<<<<<<<<<<<<
  .row {
    margin: auto;
  }
  .display-map {
    margin: 8px !important;
  }

  #mapid {
    width: 300px;
    height: 400px;
  }
  #accordion-style  i {
    display: none !important;
  }

  .tab_left__image {
    display: none;
  }

  #customize-map {
    margin: auto !important;
    max-width: 340px !important;
  }
  .right {
    min-width: 100vw;
  }
  .tab_left {
    display: none;
  }
  .tab_right {
    width: 300px !important;
    float: left !important;
  }

  .app_inner__tab {
    width: 360px;
  }
   .app_inner__tab * {
    position: relative !important;
  }
  .content {
    width: auto;
  }

  #menu {
    margin: 0 !important;
  }
  .order {
    width: 300px;
  }
}
