// Specific CSS for your home-page

body {
  margin: 0;
  text-align: center;
}

.HIW {
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.hiw-card {
  padding: 16px;
  margin: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  // background: rgba(255, 255, 255, .5);
  & h5, p {
    margin: 16px auto;
  }
}

.hiw-card img {
  width: 100%;
  height: 15vh;
  margin: 16px auto;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
	height: 90vh;
}

// responsive home smallest devices  <<<<<<<<<<<<<<<<<<
@media (min-width: 100px) and (max-width: 575px) {

  .navbar-lewagon {
    justify-content: center;
    background: white;
    height: 10vh;
  }

  .banner {
    min-height: 250px;
    padding: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url('background-2.jpg');
  }

  .banner h1 {
    display: none;
  }

  .section-1 {
    padding: 0 !important;
    margin: 0;
    height: auto;
  }

  .section-1 h1{
    padding-top: 8px;
    margin: 8px 0 !important;
    font-size: 26px;
  }

  .section-1 a {
    margin: auto !important;
  }

  .HIW {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HIW > a {
    margin: auto !important;
    padding: auto !important;
  }

  .hiw-card {
    margin: 8px;
    height: auto;
    display: flex;
    flex-direction: row;
    & h5{
      margin: auto 16px;
      font-size: 12px;
    }
    & p {
      margin: auto 16px;
      font-size: 8px;
    }
  }
  .hiw-card img {
    height: 60px;
    width: auto;
  }

  #carouselExampleControls {
    display: none;
  }

  .footer {
    border-top: 0.5px solid $main-blue;
    margin-top: 16px;
    justify-content: center;
    a {
      font-size: 15px;
    }
  }
  .footer-copyright {
    display: none;
  }
}

// responsive small devices
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-lewagon {
    justify-content: center;
    background: white;
    height: 10vh;
  }

  .banner {
    min-height: 400px;
    padding: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image-url('background-2.jpg');
  }

  .section-1 {
    margin: 0;
    height: auto;
    padding: 1rem !important;
  }

  .section-1 h1{
    padding-top: 8px;
    margin: 8px 0 !important;
    font-size: 26px;
  }

  .section-1 a {
    margin: auto !important;
  }

  .HIW {
    display: flex;
    justify-content: center;
  }

  .HIW > a {
    margin: auto !important;
    padding: auto !important;
  }

  .hiw-card {
    margin: 8px;
    height: auto;
    display: flex;
    & h5{
      margin: auto 16px;
      font-size: 12px;
    }
    & p {
      margin: auto 16px;
      font-size: 8px;
    }
  }
  .hiw-card img {
    height: 60px;
    width: auto;
  }

  .bottom-banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .carousel-card {
      height: 300px;
      width: 200px;
      border: 5px solid white;
      box-shadow: 0 0 10px white;
    }
  }
}

// responsive medium devices
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-lewagon {
    justify-content: center;
    background: blue;
    height: 10vh;
  }

  .banner {
    min-height: 500px;
    padding: 160px;
  }

  .section-1 {
    margin: 0;
    height: auto;
    padding: 2rem !important;
  }

  .section-1 h1{
    margin: 8px 0 !important;
  }

  .section-1 a {
    margin: auto !important;
  }

  .HIW {
    display: flex;
    justify-content: center;
  }

  .HIW > a {
    margin: auto !important;
    padding: auto !important;
  }

  .hiw-card {
    margin: 8px;
    height: auto;
    display: flex;
    & h5{
      margin: auto 20px;
      font-size: 16px;
    }
    & p {
      margin: auto 20px;
      font-size: 16px;
    }
  }

  .bottom-banner {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .carousel-card {
      height: 400px;
      width: 266px;
      border: 7px solid white;
      box-shadow: 0 0 12px white;
    }
  }
}
