<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/for__posterity/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/Posterity20"><i class="fab fa-twitter"></i></a>
    <a href="https://www.strava.com/clubs/posterity"><i class="fab fa-strava"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
