<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/for__posterity/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/Posterity20" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.strava.com/clubs/posterity" target="blank"><i class="fab fa-strava" target="blank"></i></a>
  </div>
</div>
