<div class="order-page d-flex justify-content-center align-items-center rounded">

      <div class="order-container">
        <div class="order-confirmed">
            Order Confirmed
            <i class="fas fa-check-circle order-check"></i>
            <h5 class="order-title">Thank you very much</h5>
        </div>
        <div class="container order-text">
          <p class="order-way"> Your order is on the way ...<span class="bike-icon"><%= image_tag('bicycle-white.svg') %></span>...</p>
          <p>You will receive an email very soon.</p>
          <p class="">Your command number is : #<%= @map.price %>.</p>
          <p class="">We hope you will enjoy our Poster</p>
        </div>
          <div class="bottom-order">
            <a href="<% root_path %>" class="btn-posterity btn-order-page"> Back to Home</a>
          </div>
      </div>

</div>
  <div class="alert alert-success" role="alert">
   🥇 Congrats, you will receive your poster soon 🥇
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<%= render 'shared/footer' %>
