<div class="order-page d-flex justify-content-center align-items-center rounded">

      <div class="card border-primary mb-3 order-card" style="max-width: 18rem;">
        <div class="card-header align-items-center">
            Order Confirmed
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title border-success p-2">Thank you very much</h5>
          <p class="card-text"> Your order is on the way</p>
          <div>
          <%= image_tag "logistics-delivery-truck-in-movement.png" %>
          </div>
          <p class="card-text">Your command number is : #<%= @map.price %>.</p>
          <p class="card-text">You will receive your poster at : <%= @map.orders.first.address %></p>
          <a href="" class="btn-posterity"> Back to Home</a>
        </div>
      </div>

</div>
  <div class="alert alert-success" role="alert">
   🥇 Congrats, you will receive your poster soon 🥇
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
