<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button id="button">TEST DRAW</button>

<div id="map" style="height: 500px" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"</div>
