<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://via.placeholder.com/450x850);">
  <div class="container text-center">
    <h1>Leave a trace. Print your records</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat btn-primary" href="#">Be proud</a>
  </div>
</div>

<a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=http://localhost:3000/callback_oauth&approval_prompt=force&scope=read,activity:read"><div class="btn btn-primary" id="test">Connect your strava account</div></a>
