<a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=http://localhost:3000/callback_oauth&approval_prompt=force&scope=read,activity:read"><div class="btn btn-primary" id="test">Connect your strava account</div></a>
