<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484856299450-fb14549bca50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1720&q=80);">
  <div class="container">
    <h1 id="h-title"></h1>
    <p>Customize a poster of the itineraries you're the most proud of</p>
    <a class="btn-posterity" href="/maps/new">BE PROUD</a>
  </div>
</div>

<div class="container">
	<div class="section-1 p-5">
		<h2>How it works</h2>
		<div class="HIW">
		  <div class="hiw-card">
		    <img src="">
		    <h5>Import your last sport record</h5>
		    <p>Connect your strava account and select the performance you want to print</p>
		  </div>
		  <div class="hiw-card">
		    <img src="">
		    <h5>Customize your poster</h5>
		    <p>Make your personalized map unique</p>
		  </div>
		  <div class="hiw-card">
		    <img src="">
		    <h5>Order your high quality poster</h5>
		    <p>...wait a few days, and let yourself shine</p>
		  </div>
		</div>
	</div>
</div>

<div class="bottom-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544967369-b3ee5f993a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="carousel-card" style="background-image: url(https://www.cartida.com/de/poster/feature/img/poster/features-roads-white/94197f50-124_high.jpeg);">
  </div>
</div>
