<h1>Your poster is on his way</h1>

<p>Hi <%= @order.first_name %>,</p>

<p>Congratulation for your achievement, now it's our job to convert it in the awesome poster you just designed.</p>

<p>Your map is being printed and you shall receive it in a few days. Here is your order number : <%= @order.map_sku %></p>

<p>Keep running the world, see ya!</p>