.banner {
  background-size: cover;
  background-position: center;
  padding: 37vh 0;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  padding-bottom: 8px;
}

.banner p {
  font-weight: 300;
  font-size: 20px;
  color: white;
  opacity: .9;
  padding-bottom: 8px;
}

.bottom-banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
