.btn-posterity {
	font-family: 'Abril Fatface', cursive;
    color: $main-blue;
    border: 1px solid $main-blue;
    background: transparent;
    padding: 13px 25px;
		&:hover {
		background: $main-blue;
		color: white;
	}
}

a {
	text-decoration: none !important;
}
