.btn-posterity {
	font-family: 'Abril Fatface', cursive;
    color: $main-blue;
    border: 1px solid $main-blue;
    background: transparent;
    padding: 13px 25px;
	&:hover {
		background: $main-blue;
		color: white;
	}
}


a {
	text-decoration: none !important;
}

.btn-path {
  padding: 14px 21px;
  margin: 0 3px;
  font-size: 12px;
  line-height: 1.42857;
  border: 1px solid grey;
    &:hover {
    border: 2px solid $main-blue;
  	}
  	&.pressed {
		border: 2px solid $main-blue;
		&:hover {
		border: 1px solid grey;
		}
	}
}

.btn-color-picker {
    padding: 18px 20px;
    height: 43px;
    width: 43px;
    background: linear-gradient(70deg,#f6db14, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.btn-color-blue {
  height: 40px;
  width: 40px;
  background-color: $main-blue;
  &:hover {
    border: 2px solid grey;
  }
}

.btn-color-red {
  height: 40px;
  width: 40px;
  background-color: $red;
}

.btn-color-yellow {
  height: 40px;
  width: 40px;
  background-color: $yellow;
}

.btn-track {
  color: #0214BB;
  border-color: #0214BB;
    &:hover {
      background: $main-blue;
      color: white;
    }
    &.pressed {
    background: $main-blue;
    color: white;
    &:hover {
      background: transparent;
      color: $main-blue;
      }
    }
}

.btn-white {
  margin: 4px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-image: url("map-white.jpg");
  background-size: cover;
}

.btn-grey {
  margin: 4px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-image: url("map-standard.jpg");
  background-size: cover;
}

.btn-black {
  margin: 4px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-image: url("map-black.jpg");
  background-size: cover;
}

.btn-blue {
  margin: 4px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-image: url("map-blue.jpg");
  background-size: cover;
}
