.btn-posterity {
	font-family: 'Abril Fatface', cursive;
    color: $main-blue;
    border: 1px solid $main-blue;
    background: transparent;
    padding: 13px 25px;
	&:hover {
		background: $main-blue;
		color: white;
	}
}


a {
	text-decoration: none !important;
}

.btn-path {
  font-size: 20px;
  padding: 5px 10px;
  color: $main-blue;
  border: 1px solid $main-blue;
  background: transparent;
    &:hover {
      background: $main-blue;
      color: white;
  	}
  	&.pressed {
		background: $main-blue;
		color: white;
		&:hover {
			background: transparent;
			color: $main-blue;
		}
	}
}

.btn-white {
  margin: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-color: white;
}

.btn-grey {
  margin: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

.btn-black {
  margin: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}

.btn-blue {
  margin: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #a5c9df;
}
