.btn-posterity {
	font-family: 'Abril Fatface', cursive;
  color: $main-blue;
  border: 1px solid $main-blue;
  background: transparent;
  padding: 13px 25px;
		&:hover {
  		background: $main-blue;
  		color: white;
	}
}

a {
	text-decoration: none !important;
}

.btn-path {
  font-size: 20px;
  padding: 5px 10px;
  color: $main-blue;
  border: 1px solid $main-blue;
  background: transparent;
    &:hover {
      background: $main-blue;
      color: white;
  }
}
