
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.hiw-card {
    width: 300px;
    box-shadow: 0 0 5px rgb(230,230,230);
    border: 1px solid rgb(230,230,230);
    padding: 20px;
    margin-bottom: 16px;
    height: 300px;
}

.carousel-card {
  border: 10px solid white;
	width: 300px;
	height: 500px;
	background-size: contain;
	box-shadow: 0 0 15px white;
}

.carousel-style-1 {
  background: center / cover url(city-trace.jpg);
}

.carousel-style-2 {
  background: center / cover url(biking-trace.jpg);
}

.carousel-style-3 {
  background: center / cover url(snowy-trace.jpg);
}
