
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip .card-trip-user {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
}

.hiw-card {
    width: 300px;
    box-shadow: 0 0 5px rgb(230,230,230);
    border: 1px solid rgb(230,230,230);
    padding: 20px;
    margin-bottom: 16px;
    height: 300px;
}

.carousel-card {
	width: 300px;
	height: 500px;
	background-size: contain;
	box-shadow: 0 0 15px white;
}
