
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

// .card-trip .card-trip-user {
//   position: absolute;
//   right: 5px;
//   top: 5px;
//   width: 40px;
// }
