#customize-map {
	border: 20px solid white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background-color: white;
}

#new-map-body {
	background-image: url('background beton.jpg');
	background-size: cover;
  	background-position: center;
}