.footer {
  width: 100%;
  bottom: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: $main-blue;
  z-index: 1000;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-terms {
  padding-right: 30px;
  a {
  color: $main-blue;
  opacity: 0.45;
  text-decoration: none;
  padding: 0px 10px;
} :hover {
    opacity: 1;
  }
}

.footer-links a {
  color: $main-blue;
  opacity: 0.45;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-biking {
  color: $main-blue;
}
