#mapid {
  width: 400px;
  height: 600px;
  border: 20px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#mapid a {
  display: none;
}

.easyPrintHolder .a3CssClass {
  // background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
}
