#mapid {
  width: 426px;
  height: 600px;
  border: 20px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left !important;
}

#mapid a {
  display: none;
}

.my-label {
    width:1000px;
    font-size:20px;
}
.map-title {
  position: absolute;
  bottom: 0px;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 40%,#fff 0);
  height: 50px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // opacity: 0.6;
}
.legend-title {
    padding-top: 30px;
    color: black;
    font-family: "Abril Fatface", "Helvetica", "sans-serif";
    font-size: 24px;
  }

.enter-title {
  font-family: "Abril Fatface";
}


