#mapid {
  width: 914px;//426px;
  height: 1280px;//600px;
  border: 15px solid black;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left !important;
  position: relative;
}

#mapid.small {
  width: 426px;
  height: 600px;
}

#classics_challenge_map {
  // background: url("https://api.mapbox.com/styles/v1/ma-v/cjzv3hkp30svs1cp5xeexv54g/static/2.3322219,48.856614,11.3/914x1280@2x?access_token=pk.eyJ1IjoibWEtdiIsImEiOiJjazJ2cGRvNWUwNng0M21ucWQzcGFqY2g2In0.WBlEoavgZb1PPFxXqtKKqQ&logo=false");
  background-size: cover;
  width: 426px;//426px;
  height: 600px;//600px;
  border: 15px solid black;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left !important;
  position: relative;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #mapid.small {
    width: 300px;
    height: 400px;
  }
}


#mapid a {
  display: none;
}

.my-label {
    width:1000px;
    font-size:20px;
}

.label-map {
  margin-right: 8px;
}

.dist-map {
  margin-top: 5px;
}

.title-map-input {
  width: 262px;
}

.map-title {
  position: absolute;
  bottom: 0px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.9) 36%, rgba(255,255,255,0.8) 49%, rgba(255,255,255,0.7) 61%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.4) 79%, rgba(255,255,255,0.3) 85%, rgba(255,255,255,0) 90%);
  height: auto;
  width: 100%;
  z-index: 1000;
  justify-content: space-around;
  align-items: center;
}

.fields-icon {
  height: 20px;
}

.info-track {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 0px 20px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.mapboxgl-control-container {
  display: none;
}

// .map-field {
//   position: absolute;
//   bottom: 0px;
//   background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 40%,#fff 0);
//   height: 110px;
//   width: 100%;
//   z-index: 1000;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   // opacity: 0.6;
// }

.legend-title {
    padding-bottom: -10px;
    text-align: center;
    color: black;
    font-family: "Abril Fatface", "Helvetica", "sans-serif";
    font-weight: 300;
    font-size: 24px;
    padding-top: 20px;
  }

.enter-title {
  font-family: "Abril Fatface";
}
