.navbar-lewagon {
  justify-content: center;
  background: white;
  height: 70px;
  box-shadow: 0 2px 10px -10px gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.offer-navbar {
  background: #021535;
  color: white;
  font-size: 10px;
  p {
    margin-bottom: 0;
  }
}
