.navbar-lewagon {
  justify-content: center;
  background: white;
  height: 70px;
}

// .nav-link {

//   color: $main-blue;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
