.order-page {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('background-6.jpg');
  background-size: cover;
  background-position: center;

}

.card-body img {
  width: 100px;
  height: 100px;
}
